body{
    background-color:#C6E7FF; 
}
hr{
    border-style: none;
    border-top-style: dotted;
    width: 30%;
    border-width: 7px;
    border-color: grey;
}
img{
    border-radius:50%;
}
h1{
    color:#004D66;
}
h2{
    color:#004D66;
    font-style: oblique;
}
h3{
    color:#004D66;
    font-style: oblique;
}